@use 'setting' as *;
@use 'mixin' as *;
/*==========================================================================================

	// 共通設定

==========================================================================================*/
/* リンク */
a:link { color: $c_l; word-break: break-all;}
a:visited { color: #389ebc; }
a:hover { color: #de612e; }
a:active { color: #de612e; }
a:focus {  color: #de612e; text-decoration: none; }

/* 汎用文字色 */
.cBlue { color: #405f87; }
.cRed { color: #d72413; }
.cGreen { color: #34a097; }
.cOrange { color: #ff5f0b; }
.cPurple { color: #ad1283; }
.cPink { color: #ff7cd8; }
.cBlack { color: #333333; }
.cWhite { color: #ffffff; }

/* 画像 */
@include media-min($BP_TB){
.imghover:hover {
	opacity: 0.8;
	transition: all 0.2s ease-in-out;
}
.imghover:active {
	opacity: 0.5;
}
}

/* 仕切り線 */
hr {
	border-top: dotted 1px #c9caca;
	margin: 4px 0;
	padding: 0;
}


/*==========================================================================================

	// 全体

==========================================================================================*/

body, input, button {
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	outline: none;
	margin: 0; padding: 0;
	font-size: 14px;;
	line-height: 1.6;
	color: $c_t;
}
body {
	overflow-y: scroll;
}
#TOP {
	padding-top: 100vh;
}
#TOP.is-on {
	padding-top: 0;
}

.pcShow { display: block; }
.spShow { display: none; }
@include media-max($BP_TB){
	.pcShow { display: none; }
	.spShow { display: block; }
}

.jost {
	font-family: "Jost", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.cont {
	/*min-height: 100vh;*/
	padding: 50px 30px 80px;
	@include media-max($BP_TB){
		padding: 40px 8px 50px;
	}
}

.ttl {
	position: relative;
	text-align: center;
	line-height: 1;
	padding-bottom: 18px;
	&::before {
		content: "";
		position: absolute;
		bottom: -15px;
		display: inline-block;
		width: 70px;
		height: 5px;
		left: 50%;
		transform: translateX(-50%);
		background-color: black;
		border-radius: 12px;
		@include media-max($BP_TB){
			width: 60px;
			height: 3px;
		}
	}
	h2 {
		margin-top: 15px;
		letter-spacing: 1px;
		font-size: 28px;
		font-weight: 700;
		text-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
		@include media-max($BP_TB){
			margin-top: 12px;
			font-size: 24px;
		}
	}
	.sub {
		@include jost(700);
		font-size: 70px;
		letter-spacing: 2px;
		text-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
		@include media-max($BP_TB){
			font-size: 38px;
			letter-spacing: 1px;
		}
	}

}

/* スプラッシュ */
#splash {
	position: fixed;
	top: 0;
	height: 0;
	z-index: 111111111111111111;
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
}
#splash_logo {
	position: absolute;
	top:  calc(50% - 90px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;

	text-align: center;
	.img {
		max-width: 75%;
		margin: auto;
	}
	svg{
		padding: 30px 40px 0;
		font-weight:bold;
		height:auto;
	}
}


/* fadeUpをするアイコンの動き */
.fadeUp {
	animation-name: fadeUpAnime;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}
	
@keyframes fadeUpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeRight {
	animation-name: fadeRightAnime;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;
	will-change: transform;
}

@keyframes fadeRightAnime {
	from {
		opacity: 0;
		transform: translateX(120px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.flipDown {
	animation-name: flipDownAnime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
	will-change: transform;
}

@keyframes flipDownAnime {
	from {
		transform: perspective(2500px) rotateX(100deg);
		opacity: 0;
	}
	to {
		transform: perspective(2500px) rotateX(0);
		opacity: 1;
	}
}








/*-----------------------------------------------------------------------------------------
    ボタン
-----------------------------------------------------------------------------------------*/
.btn,.btn:link,.btn:visited {
	@include btn();
}
.button01 a {
	@include btn();
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 320px;
    padding: 12px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
	letter-spacing: 2px;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #919191;
}
.button01 a:hover {
	transform: translate3d(0.2rem, 0.2rem, 0);
	box-shadow: none;
	opacity: 1;
	transition: all 0.2s;
}
.button01 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/*-----------------------------------------------------------------------------------------
    モーダル
-----------------------------------------------------------------------------------------*/
/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/*確認を促すモーダル：タイトルの色を変更したい場合*/
#modaal-title{
	font-size:1.2rem;
	text-align: center;
	margin: 0 0 20px 0;
}

/*動画表示のモーダル：余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper{
	padding:0;
}


